# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/

# IDE & editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Local environment variables
.env
*.env

# Pipenv
Pipfile.lock

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# pytest
.pytest_cache/

# Sphinx documentation
docs/_build/

# Backup files
*~
