{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- 🔥 Hero Section -->
<section class="ghost-hero">
  <span class="badge">
    🚀  MyBlog 1.0
  </span>
  <h1>
    Create your space, <br> Share your story
  </h1>
  <p>
    Welcome to <strong>MyBlog</strong> — a place where your voice matters. 
    Write blog posts, share ideas, and connect with an audience that cares.
  </p>
  <a href="{% url 'create_post' %}" class="btn-primary">
    ✍️ Start Writing
  </a>
</section> 


<section >
  <h2>📌 Frequent Blogs</h2>
  {% for post in posts %}
    <div class="frequent-blogs"style=" background: linear-gradient(180deg, #79d4d4 0%, #d0dee1 100%)">
        <div class="article-metadata" >
      <h2 style="text-align:left; float:left; color: #000000; font-size: 1.1rem; margin: 0;">
            BY {{ post.author.username }}
      </h2>
      <h5 style="text-align:right; float:right; color: #000000; margin: 0;">
          {{ post.created_at|date:"F d, Y" }}
      </h5>
      <hr style="clear:both; margin-top: 5px;" />
  </div>
       <a href="{% url 'post_detail' id=post.id %}"><h3>{{ post.title }}</h3></a>

      
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="Blog Image" style="max-width:400px;">
      {% endif %}
      
      <div class="post-content">
       
       {{ post.content|safe|truncatewords:100 }} 
     <p><br>  Likes: {{ post.likes.count }}</p><br>  
     </div>

      
      <p>Posted {{ post.created_at|naturaltime }}</p>
      
         <a href="{% url 'post_detail' id=post.id %}" class="btn btn-primary mt-auto">Read More</a> 
   
  {% empty %}
    <p>No posts found in this category.</p>
  {% endfor %}
</section>

{% endblock %}
